<html>
	<!-- Início do include Head-->
	<head>
		<link rel="stylesheet" href="content/styles/commons.css" />
		<script src="content/scripts/jquery-1.4.2.min.js" type="text/javascript"></script>
		<script src="content/scripts/jquery.corner.js" type="text/javascript"></script>
		<script src="content/scripts/commons.js" type="text/javascript"></script>
		<title>DX - Analytics</title>
	</head>
	<!-- Fim do include Head-->
	<body>
		<div class="site">
			<div class="safe">
				<!-- Início do include BodyHeader -->
				<div class="siteHeader">
					<ul>
						<li class="logo" />
						<li class="login"><p>Olá, Fulano! <a href="#" title="Sair">Sair</a></p></li>
					</ul>
				</div>
				<!-- Fim do include BodyHeader -->
				<div class="content">
					<!-- Início do include Menu -->
					<div class="menu">
						<ul>
							<li class="menuHeader">Painel de Controle</li>
							<li class="category" id="users">
								<div>Visitantes</div>
								<ul class="subMenu" id="subMenuUsers">
									<li><a>&middot;&nbsp;Visão Geral</a></li>
									<li class="selected"><a>&middot;&nbsp;Cadastros x Ativações</a></li>
									<li><a>&middot;&nbsp;Último Login</a></li>
									<li><a>&middot;&nbsp;Tempo de sessão</a></li>
									<li><a>&middot;&nbsp;Preferências de uso</a></li>
								</ul>
							</li>
							<li class="category" id="content"><div>Conteúdo</div></li>
						</ul>
					</div>
					<!-- Fim do include Menu -->
				
					<!-- Início do include Report -->
					<div class="reportContent">
						<ul>
							<li class="title">
								Cadastros x Ativações
							</li>
							<li class="body">
							
							</li>
					</div>
					<!-- Fim do include Report -->
					<div style="clear:both">&nbsp;</div>
				</div>
			</div>
		</div>
	</body>
</html>